* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;

  nav {
    width: 100%;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: rgb(225, 225, 225);
    background: linear-gradient(
      0deg,
      rgba(225, 225, 225, 0) 0%,
      rgb(26, 24, 144) 100%
    );
  }
}

.destop_nav {
  width: 100%;

  div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_brand {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5px;

    a {
      text-decoration: none;

      span {
        margin-left: 0.5rem;
      }

      span:nth-child(1) {
        color: #cf1010;
      }

      span:nth-child(2) {
        color: #000000;
      }

      span:nth-child(3) {
        color: #04d300;
      }
    }
  }

  .nav_search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    svg {
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: #8a8c21;
      }
    }

    h5 {
      color: #dcdada;
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 0.5px;
      margin-left: 0.7rem;
      margin-bottom: 0;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: #dadd34;
      }
    }
  }
}

.mobilenav_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;

  a {
    text-decoration: none;

    span {
      margin-left: 0.5rem;
    }

    span:nth-child(1) {
      color: #cf1010;
    }

    span:nth-child(2) {
      color: #000000;
    }

    span:nth-child(3) {
      color: #04d300;
    }
  }
}

.nav-links-mobile {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.nav-links-mobile.show_mobile {
  max-height: 300px;
}

.mobilenav_heddin {
  width: 100%;

  ul {
    text-align: center;
    padding-left: 0;
    padding-bottom: 1rem;

    li {
      line-height: 70px;
    }

    h5 {
      color: #e7e6e6;
      font-weight: 700;
      font-size: 1.8rem;
      letter-spacing: 0.5px;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: #8a8c21;
      }
    }
  }
}

.burger-menu {
  font-size: 1.5em;
  cursor: pointer;
}

.modal-css {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  justify-self: center;
  align-items: center;
  grid-row-gap: 0px;

  .bot {
    grid-area: 1 / 1 / 3 / 2;

    img {
        width: 70%;
    }
  }

}
// login nav style bir qismi
@media (max-width: 460px) {
  .login_nav {
    a {
      font-size: 1.5rem;
      letter-spacing: 0;
    }

    .nav_search {
      h5 {
        font-size: 1.5rem;
      }
    }
  }
}
